#navMainIcon{
	max-width: 10%;
}
#header-li{
	list-style: none;
}
#header-slice ul{
	display: none;
}
#header-slice:hover > ul{
	background-color:none;
	position: fixed;
	display:block;
	list-style: none;
}
.headIcon{
	max-width: 20%;
}
